.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 30px;	

}

.header {
	padding: 30px 0;
	border: solid;
	background-color: white;
	margin-bottom: 70px;
}

.content {
	float: right;
	width: 80%;
	border-left: solid;
	border-top: 1px solid rgb(60,60,60);
	border-bottom: 1px solid rgb(60,60,60);
	padding-left: 50px;
	padding-right: 50px;
	background-color: white;
}

nav {
	float: left;
	width: 15%;
	position: fixed;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

html {
	font-size: 100%;
	 background: url(https://cdn.totalcomputersusa.com/managed/uploads/sites/23/2016/09/kpop.jpg) repeat center center fixed; 
     background-size: cover;
}

a {
	color: #3972d2;
	font-family: Averia Serif;
	font-weight: bold;
	}

h1, h2, h3, h4 {
	text-align: center;
	color: #FF8C00;
	font-family: Averia;
	font-weight: bold;
}

p {
	font-family: Averia Serif;
	color: black;
}
